/* CSS Document */
#main {
	padding-top: 20px;
	}
	
#leftCol{
	float: left; 
	width: 100px;
	padding-top: 20px;
	}
}	

#rightCol {
	float: right; 
	width: 400px;
	padding-top: 20px;
	}

#center {
	width: 800px;
	float: left;
	height: 100%;
	padding: 20px;
	}